body{
    margin: 0px ;
    font-family: ecosis;
    background-image: url("fundo\ 1.png");
    background-size: cover;}

.header {
    background: rgb(244, 99, 69);
    background: linear-gradient(135deg, rgba(244, 99, 69, 1) 0%, rgba(231, 66, 33, 1) 25%, rgba(222, 48, 14, 1) 50%, rgba(195, 34, 3, 1) 70%, rgba(156, 36, 12, 1) 90%, rgba(122, 21, 1, 1) 100%);
    height: 13vh;
    min-height: 100px;
    width: 100%;
    font-weight: bold;
    box-shadow: 0px 3px 5px black;
    position: relative;

    /* height: 60px;
    display: flex;
    align-items: center;
    background: rgb(244,99,69);
    background: linear-gradient(135deg, rgba(244,99,69,1) 0%, rgba(231,66,33,1) 25%, rgba(222,48,14,1) 50%, rgba(195,34,3,1) 70%, rgba(156,36,12,1) 90%, rgba(122,21,1,1) 100%);
    box-shadow: 0px 3px  5px black;
    position: relative; */

}

.container{
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.header .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

/* .icone-logo {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: none;  
} */

.titulo {
    margin: 0px;
    color: #ffffff;
}

.navbar{
    width: 500px;
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.nav-item-ativo {
    color: #CCCCCC !important;
    pointer-events: none;
    cursor: default;
    border-bottom: 2px solid #CCCCCC;
}

.nav-itens {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
}

.nav-itens:active {
    color: #CCCCCC;
}
  
/* Fade in */
.nav-itens::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #FFFFFF;
    transition: transform 300ms;
    transform: translate(-100%, 0);
}
  
.nav-itens:hover::after,
.nav-itens:focus::after{
    transform: translate(0, 0);
}

.nav-btn {
    background-color: #FFFFFF;
    height: 60%;
    width: 150px;
    color: #AC0505;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    transition: 1s;
}

.nav-btn:hover {
    -webkit-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
}

.nav-btn:active {
    background-color: #AC0505;
    color: #FFFFFF;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 0.3s;
}

.nav-btn-ativo {
    background-color: #690505 !important;
    color: #FFFFFF !important;
    border: #FFFFFF solid 3px;
    pointer-events: none;
    cursor: default;
}

.btn {
    text-decoration: none;
    color: #AC0505;
    
}

.login {
    width: 160px;
}

.usuario {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

/* inicio banner */

.banner{
    background-color: rgba(255, 255, 255, 0.753);
    min-height: 1000px;
    width: 90%;
    display: flex;
    margin: auto;
    box-shadow: 0px 3px 5px black;
    flex-direction: column;
}

.banner .container {
    height: 100%;
    flex-direction: column;
}


.card{
    background-color: rgba(255, 198, 91, 0.986);
    height: fit-content;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card2{
    background-color: rgba(255, 198, 91, 0.986);
    height: fit-content;
    width: 55%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.titulo1{

    margin-top: 0px;
    margin-left: 0px;
    width: fit-content;

    
    font-family: ecosis;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    box-shadow: 0px 3px 5px black;
    background: rgb(244,99,69);
    background:linear-gradient(135deg, rgba(244,99,69,1) 0%, rgba(231,66,33,100) 25%, rgba(222,48,14,100) 50%, rgba(195,34,3,100) 70%, rgba(156,36,12,100) 90%, rgba(122,21,1,100) 100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.titulo2{
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 0px;
    text-align: center;
    height: 55px;

    
    font-family: ecosis;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.255em;
    
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    background: rgb(244,99,69);
    background:linear-gradient(135deg, rgba(244,99,69,1) 0%, rgba(231,66,33,100) 25%, rgba(222,48,14,100) 50%, rgba(195,34,3,100) 70%, rgba(156,36,12,100) 90%, rgba(122,21,1,100) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.titulo3{
    margin-top: 20px;
    margin-left: 22.5%;
    width: 55%;
    margin-bottom: 0px;
    text-align: center;
    height: 55px;
    letter-spacing: 0.115em;
    
    font-family: ecosis;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    background: rgb(244,99,69);
    background:linear-gradient(135deg, rgba(244,99,69,1) 0%, rgba(231,66,33,100) 25%, rgba(222,48,14,100) 50%, rgba(195,34,3,100) 70%, rgba(156,36,12,100) 90%, rgba(122,21,1,100) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.subtitulo{
    background-image: linear-gradient(135deg, rgba(244,99,69,1) 0%, rgba(231,66,33,100) 25%, rgba(222,48,14,100) 50%, rgba(195,34,3,100) 70%, rgba(156,36,12,100) 90%, rgba(122,21,1,100) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.115em;
    text-align: center;
    margin-right: 95px;
}
.subtitulo2{
    background-image: linear-gradient(135deg, rgba(244,99,69,1) 0%, rgba(231,66,33,100) 25%, rgba(222,48,14,100) 50%, rgba(195,34,3,100) 70%, rgba(156,36,12,100) 90%, rgba(122,21,1,100) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.115em;
    text-align: center;
    margin-left: 70px;
}


.texto1{
    margin-left: 0%;
    margin-top:50px;
    font-size: 200%;
    width: 50%;
    font-style: normal;
    
}

.texto2{
    margin-top: 10px;
    margin-bottom: 32px;
    font-size: 150%;
    width: 70%;
    font-style: normal;
    color: rgb(0, 0, 0) ;
}

.texto3{
    margin-top: 30px;
    font-size: 150%;
    width: 90%;
    font-style: normal;
    color: rgb(0, 0, 0) ;
   
}

.btn{

    font-family: ecosis;
    margin-top: 40px;
    border: 0;
    font-weight: 600;
    background:linear-gradient(135deg, rgba(244,99,69,1) 0%, rgba(231,66,33,100) 25%, rgba(222,48,14,100) 50%, rgba(195,34,3,100) 70%, rgba(156,36,12,100) 90%, rgba(122,21,1,100) 100%);
    color: aliceblue;
    font-size: 18px;
    border-radius: 8px;
    padding: 15px 35px;
    margin-bottom: 40px;
   margin-left: 35%;
}

.input{
    height: 25px;
    border: 2px solid #800000 ;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #ffffff;
    display: flex;
    align-self: center;
}

.input1{
    height: 25px;
    border: 2px solid #800000 ;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #ffffff;
    display: flex;
    align-self: center;
    margin-left: 35px;
}

.input3 {
    height: 25px;
    border: 2px solid #800000 ;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #ffffff;
    display: flex;
    width: 160px;
}


/*inicio do agendamento*/

.div1{
    align-items: center;
    margin-left: 30px;
    margin-top: 40px;
    width: 40%;
    border-right: black solid thin;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 0px;

}

.div2{
    margin-left: 20px;
    margin-top: 40px;
    width: 40%;
    margin-right: 10px;

}

.div3{
    display: flex;
    margin-right: 0px;
}

h1 {
    text-align: center;
}

/*inicio slider*/
.slider{
    height: 400px;
    overflow: hidden;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
    
}
.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;
}

.manual-navigation{
    position: relative;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}

.navigation-auto div{
    border: 2px solid salmon;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #ffffff;
}
/*Fim slider*/


/*banner tela de login-inicio*/



    
/* fim banner */

/* inicio rodapé */

.baseboard{
    height: 13vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(244, 99, 69);
    background: linear-gradient(315deg, rgba(244, 99, 69, 1) 0%, rgba(231, 66, 33, 1) 25%, rgba(222, 48, 14, 1) 50%, rgba(195, 34, 3, 1) 70%, rgba(156, 36, 12, 1) 90%, rgba(122, 21, 1, 1) 100%);
    box-shadow: 3px 0px 5px black;
    position: relative;
}

.baseboard-inferior {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.baseboard-inferior .div-base{
    height: fit-content;
    width: 33%;
}

footer {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    color: #FFFFFF;
}

footer .container {
    width: 90%;
    display: flex;
    margin: auto;
}

footer p {
    margin-top: 0;
    margin-bottom: 5px;
    
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer-info {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 30px 0;
}



.footer-contato {
    display: flex;
}
